
  <div class="col-5 card mx-lg-5 my-lg-5" style="width: 15rem;">
    <img src="{%PHOTO%}" class="card-img-top" alt="{%PHOTO%}">
    <div class="card-body">
      <h5 class="card-title">{%T%}</h5>
      <p class="card-text">{%DIS%}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{%N%}</li>
      <li class="list-group-item">{%P%}</li>
      <li class="list-group-item">{%T%}</li>
    </ul>
    <div class="card-body">
      <a href="/api?id={%ID%}" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
